body{
    background-color: #b38b6d;
    color: black;
}

.meme-generator{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

.meme-generator img{
    height: 430px;
    object-fit: cover;
}

.meme-generator .generate-meme-btn{
    padding: 8px 20px;
    border:none;
    border-left: 4px solid #222;
    border-right: 4px solid #222;
    margin: 24px 0;
    font-size: 20px;
    color: #fd6569;
    background: #fff;
    cursor: pointer;
}

.meme-generator .generate-meme-btn:hover{
    padding: 8px;

}

